<body>
    <H1>Welcome To My Project Tracking Database</H1>
    <h2>TO DO: Learn to read in text files to replace the lorem below</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facilis 
      ipsa quae nulla pariatur, necessitatibus dolores similique. Nulla officia dolore dolor 
      quisquam laboriosam repellat illum ducimus vero pariatur, excepturi facilis.
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt officiis 
       corporis dolorum dolore aspernatur laudantium distinctio quo quaerat, eaque sapiente voluptate 
       ullam quas autem doloremque vel provident voluptatibus labore. Repellendus! Lorem ipsum 
       dolor sit amet consectetur adipisicing elit. Provident soluta a sint odio inventore ipsum,
        debitis fuga vero facilis maiores deserunt aliquid numquam odit voluptas quaerat accusantium, 
        similique doloribus enim.
    </p>
  <hr>
    <img src="../../assets/images/cheese.jpg" width="100" height="100" alt="sarah"/>
  </body>
  
