<header>
  <div class="container">
    <a routerLink="/" class="logo">Project Tracking Database User Interface</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/Login">Login</a></li>
      </ul>
    </nav>
  </div>  
</header>

<body>
  <H1>Welcome To My Project Tracking Database</H1>
  <h2>TO DO: Learn to read in text files to replace the lorem below</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facilis 
    ipsa quae nulla pariatur, necessitatibus dolores similique. Nulla officia dolore dolor 
    quisquam laboriosam repellat illum ducimus vero pariatur, excepturi facilis.
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt officiis 
     corporis dolorum dolore aspernatur laudantium distinctio quo quaerat, eaque sapiente voluptate 
     ullam quas autem doloremque vel provident voluptatibus labore. Repellendus!
  </p>
  <img src="/sarah.jpg" alt="sarah">
</body>

<div class="container">
  <router-outlet></router-outlet>
</div>